<%= render partial: 'header_and_navbar' %>

<%= render partial: 'navbar' %>

<%= render partial: 'button' %>

<%= render partial: 'category_bar' %>

<div class="item-grid">
  <% @items.each do |item| %>
    <%= render partial: 'item_card', locals: { item: item }  %>
  <% end %>
</div>
