<h1>Welcome to the Bizarre Bazaar!</h1>
<h2>The home of dysfunctional items</h2>
<h3>Look at all these crazy items:</h3>

<%= render partial: 'pages/navbar' %>

<%= render partial: 'pages/category_bar'  %>

<div data-controller="map"
     data-map-markers-value="<%= @markers.to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     id='map' style="width: 100%; height: 600px;"> 
</div>


<div class="item-grid">
  <% @items.each do |item| %>
    <%= render partial: 'pages/item_card', locals: { item: item }  %>
  <% end %>
</div>

<%console%>