<div class="position relative">
  <h2> <%= @item.name %> </h2>
  <h4> £<%= @item.price%> </h4>
  <p> <%= @item.description%> </p>
  <p>Buy from: <%= @item.user.first_name %> <%= @item.user.last_name %></p>
   <%= link_to "Book this item", item_booking_path(@item), class: "btn btn-secondary" %>
</div>

<h2>Reviews</h2>
<% if @reviews.present? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %>
        <br>
        <strong>Comment:</strong> <%= review.comment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews available.</p>
<% end %>